@import "tailwindcss";

:root {
  --background: #FDC5D5;
  --foreground: #1C1C1C;
  --neon-lime: #1C1C1C;
  --deep-black: #1C1C1C;
  --muted: #4A4A4A;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-lime: var(--neon-lime);
  --color-deep-black: var(--deep-black);
  --color-muted: var(--muted);

  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.text-stroke-black {
  -webkit-text-stroke: 1px black;
  color: transparent;
}